.main {
  width: 90%;
  margin: auto;
  .infoBlock {
    h3 {
      font-size: 26px;
      margin-top: 30px;
    }
    .blocks {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      div {
        padding: 12px;
        border-radius: 8px;
        background-color: rgb(240, 239, 239);
        display: flex;
        align-items: center;
        width: 24%;
        span{
          margin-left: 15px;
        }
      }
    }
    .bg {
      background-image: url("../../icons/bg-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 240px;
      border-radius: 10px;
    }
  }
}
