.container {
    width: 80%;
    margin: auto; 
    display: flex; 
    flex-direction: row;
}

.select {
    width: 300px; 
    height: auto;
}

.cards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selectItem {
    justify-content: flex-start;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        background-color: aquamarine;
    }
}

.categoryItems {
    order:2;
}
