.cardItem {
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ebeaea;
  position: relative;
  img {
    object-fit: cover;
  }
  .like {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    background-image: url("../../icons/like.png");
    background-size: cover;
  }
  .dislike {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    filter: invert(100%);
    z-index: 2;
    cursor: pointer;
    background-image: url("../../icons/like.png");
    background-size: cover;
  }
}

.active > img {
  opacity: 0.7;
}

.info{
    
}