.productPageContainer {
  width: 80%;
  margin: auto;
}

.cards {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.productTitle {
  color: #151b1a;
  line-height: 20px;
  font-size: 32px;
  margin-top: 60px;
}

.categoryName {
  position: absolute;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 50px;
}