.cards {
    display: flex;
    justify-content: flex-end; // flex-start start center
    flex-wrap: wrap;
}

.productTitle {
  color: #151b1a;
  line-height: 20px;
  font-size: 32px;
  margin-top: 60px;
}

.categoryName {
  font-size: 20px;
}