.logo{
    width: 200px;
    cursor: pointer;
}

.header{
    //position: fixed;
    padding: 20px 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 50px;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    display: flex;
    gap: 30px;
}

.btn_item{
    border: none;
    padding: 8px;
    width: 35px;
    display: flex;
    height: 35px;
    border-radius: 10px;
    background-color: #f4f4f4;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
    }
    
}

.btn_item:hover{
    background-color: #96d0cd ;
    transition: 0.4s;
}
.nav_list_item{
    display: flex;
    gap: 40px;
}

.ul{
    display: flex;
    gap: 40px;
    li{
        cursor: pointer;
        list-style: none;
    }
    li:hover{
        color:#96d0cd;
        transition: 0.4s;
    }
}